html, body {
    margin:0;
    padding:0;
    overflow-x: hidden;
}
/* body{
    width: 540px;
    height: 960px;
} */

@font-face {
    font-family: 'Feldicouth-Norm';
    unicode-range: U+000-5FF;
    font-display: swap;
    src: local('papyurs'), url('../fonts/Feldicouth-Norm.ttf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header{
    width:100vw;
    
}
.topWaveConatiner{
    width: 100%;
    
    
}
.break{
    width: 100%;
    height: 15vh;
    
}
.bottomWaveConatiner{
    position: relative;
    width: 100%;
    
}
nav{position: absolute;
    top:2px;
    right:2px;
    color:white;
}
li a{text-decoration: none;
    color: inherit;

}

nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 4px;
    padding: 6px;
    font-family: 'Dancing Script', cursive;
    font-size: 3vw;
}
nav ul li:hover{
    background-color: white;
    color: #0099ff;
    box-shadow: 4px 5px 6px 1px #bfc9de;
}

.wave{
    width: 100vw;
    height: 301px;
    background-image:url(../Img/wave.png); 
    background-size:cover ;
}
.bottomWave{
    transform-origin: center;
    transform: rotate(180deg);

}
.topHalf{
    height: 40vh;
    background-color: #0099ff;
    padding: 10px;
}

.bottomHalf{
    margin-top: -2vh;
    height: 57vh;
    width:100vw;
     background-image: linear-gradient(to bottom, #0099ff, white)
}
.bottomHalf p{
        margin: 0;
    font-family: 'Feldicouth-Norm';
    color: white;
    font-size: 6vw;
}


.circle{
    width: 160px;
    background-color: #d4e1eaa1;
    height: 160px;
    position: relative;
    border-radius: 50%;
   
}
.leftCircle{
    top: calc( 15vh - 160px);
    left: 6px;
    animation: leftCircleAnimation 8s infinite;;
    animation-direction:alternate;

}

.rightCircle {
    top: -13vw;
    left: calc(100vw - 189px);
    animation: rightCircleAnim 8s infinite;;
    animation-direction:alternate;
    /* background-image: radial-gradient(circle, #0099ff, #00b3ff, #43cafd, #7cdff9, #aff1f8); */
}

h1 {
  font-family: 'Feldicouth-Norm';
    color: white;
    font-size: 8vw;
    position: absolute;
    left: 30vw;
    width: 40vw;
    top: 16vh;
}
.picBG {
    top: 40vh;
    background-image: url("../Img/mainBG.png" );
    background-size: cover;

    width: 100vw;
    height: 100vh;
    /* left: 25vw; */
    position: absolute;
    z-index: -1;
    filter: blur(3px);
}
.graduation{
    position: absolute;
    width: 30vw;
    left: 70vw;
    top: 30vh;
}
svg {
    width: 100%;
}
.blurredSvg{
    width: 100%;
    position: absolute;
    top: 41vh;
    z-index: -1;
}
.bottomSvg{
    transform-origin: center;
    transform: rotate(180deg);
} 
.blurredSvgBottom{
    position: absolute; 
    top: 0;
}

main{
    width: 100vw;
    height: 100vh; 
    
    background-size: cover;
   
}
.shade{
    background-color: rgba(0, 174, 255, 0.11);
    /* background-image: url("../Img/kidpic.jpg"); */
    background-size: cover;
    height: 100%;
    display: flex;
    width: 100vw;

}
.left{
    width: 65%;
    height: 100%;  
    display: block;
    flex-direction: column;  
}
.right{
    width: 35%;
    height: 100%;    
    
}
.fullBodyImage {
    z-index: 2;
    height: 100%;
    width: 100%;
    /*background-image: url(../Img/KidusGecartoonImage.png);*/
    background-image: url(../Img/cartoonImage2.png);
    background-size: cover;
    position: relative; 
    
}
.fullBodyImage>button{
    position: absolute;
    padding: 20px;
    background-color: transparent;
    margin: 10px;
    top: 50%;
    left: 50%;
    color: white;
}

.gallaryAlbum{
    width: 100%;
    height: 90%;
    /* background-color: teal; */
}

.picAndCaption{
    width:15.5vw;
    z-index: 1;
    height: calc(18.8vw + 2.7vw);
    position: absolute;
    top:0;
    left:0;
    display: none;

}
.picAndCaption:hover{
    box-shadow: 1px -3px 19px 1px #03f8ec;
    z-index: 3;

}
.imageHolder{
    width: 15.5vw;
    background-color: #e1e1e1;
    height: 18.2vw;
}
.albumPics{
    width: auto;
    height: 18.2vw;
    display: block;
    margin: 0 auto;
}

.imageCaption{
    width: 100%;
    height: 3.7vw;
    background-color:  rgba(2, 11, 21, 0.9);
    /*background-color: rgba(0, 174, 255, 0.22);*/
    border: none;
    z-index: 2;
}

.imageCaption>label{
    display: block;
    /* margin: auto auto; */
    text-align: center;
    font-size: 1.2vw;
   
    color: #e1e1e1;
    width: 100%;
    height: 100%;
    padding: 1.25vw 0;
}


.pic1{
    
    left: -15.5vw;
    z-index: 1;
}
.pic2{
    top: -55vh;
    left: 11vw;
}
.pic3 {
    transform: rotate(48deg);
    top: -15.806vh;
    left: -21.5vw;
}
.pic4 {
    transform: rotate(236deg);
    top: 100vh;
    left: 25.5vw;
}
.pic5 {
    transform: rotate(180deg);
    top: 8.3vh;
    left: 102.7vw;
}
.pic6 {
    transform: rotate(306deg);
    top: 103.2vh;
    left: 24.15vw;
}

.quote{
    position: absolute;
    line-height: 20vh;
    top: 20vh;
    left: 0;
    width: 65%;
    height: 10%;
    text-align: center;

}
.quote span{
    font-size: 10vw;
    border-radius: 50%;
    background-color: #0099ff61;
}

blockquote{
    font-family: 'Indie Flower', cursive;
    font-size: 8vw;
    margin: 0 auto;
}

.Image{
    display: block;
    margin: 0 auto;
    height: 100%;
    width: auto;
   
    
}


.imageZoom, #moreInfo{
    overflow-y: scroll;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0c1921e3;
    z-index: 11;
    display: none;
    top: 0;
}


.closeZoom, .closeMoreInfo{
    position: absolute;
    left:22px;
    top:2px;
    color: white;
}
.closeMoreInfo:hover, .closeZoom:hover{
    cursor: pointer;
    color: red;
    /* background: white; */
}

.imageZoom #photo{
    display:inline-block;
}

#pictureDiscription{
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 34px;
}



table{
    margin: 0 auto;
    height: 100vh;
    width:50%;
   
}

label{
    color: #82bb28;
    /* font-family: cursive; */
    text-align: -webkit-right;
    width: 100%;
}
input[type="text"]{
    background: transparent;
    border: none;
    color: white;
    font-family: cursive;
}

td{
    min-width: 80px;
    text-align: left;
}
.values{
    text-align: left;
}
textarea{
    width: 100%;
    height: 80px;
    background: transparent;
    overflow: auto;
    color: white;
    border: none;
    resize: none;
    border-top: 1px solid;
}

.navStud {
    position: absolute;
    height: 14vh;
    top: 85vh;
    right: 27px;
    z-index: 3;
}

.navStud>span, .navStud>.navDetailsGroup>span {
    border-radius: 50%;
    display: inline-block;
    margin: calc(calc(13vh - 8.8vh) / 2) 5px;
    height: 5vh;
    font-size: 5vh;
    background-color: white;
}

.openNav:hover,.navStud>.navDetailsGroup>span:hover {
    
    background-color: rgba(97, 95, 95, 0.609);
    color: white;
    box-shadow: 1px 1px 1px 1px white;
}
.openNav{
    padding:2.5vh;
}
#navDetails{
    display: none;
}
.mobileMore{
    position: absolute;
}

footer{
    height: 100vh;
}

@keyframes rightCircleAnim{
  from  { left: calc(100vw - 189px); transform: rotate(0deg);}
  to {left: calc(5px); background: rotate(360deg);}
  
}
@keyframes leftCircleAnimation{
    from  { left: calc(5px);}
    to {left: calc(100vw - 189px); }
  }

@media(max-width:550px){

    .left{width:100%;}
    .quote{width: 100%;}
    .right{display: none;}
    .rightCircle, .leftCircle{display: none;}
    

    .picAndCaption{width: 25.84vw;
        height: calc(30.24vw + 5vw);}
   
    .imageHolder{width: 25.84vw;
        height: 30.4vw;
    }
    .albumPics{    height: 30.3vw;}
    
    .imageCaption{height: 7vw;}
    
    .imageCaption>label{font-size: 3.7vw;
        padding: 1.2vw 0vw;
    }
    /* blockquote{
    font-size: 5vw;
       font-weight: bold;
    } */
    

}
@media(max-aspect-ratio:1/1){

    

    .picAndCaption{width: 20.84vw;
        height: calc(24.38vw + 5vw);}
   
    .imageHolder{width: 20.84vw;
        height: 24.38vw;
    }
    .albumPics{    height: 24.38vw;}
    
    .imageCaption{height: 6vw;}
    
    .imageCaption>label{font-size: 3.7vw;
        padding: 1.2vw 0vw;
    }


}
