body{
    background-color: rgba(53, 52, 52, 0.37);
    margin: 0 0;
}
:root{
    --theam:;
    --bgcolor:;
}
.imageDisplay{
    margin-top: 165px;
    margin-left: 250px;
    transform: rotate(20deg);
    position: absolute;
}
.imgDiv{
    height: 320px;
    width:230px;
    background-color: rgba(243, 239, 239, 0.904);  
    display: inline-block;       
    box-shadow: 1px 1px 1px 1px black;
    position: absolute;
}
.imgDiv:hover{
    z-index: 2;
}
.imageHolder{
    height: 250px;
    padding-bottom: 0px;
    width: 100%;
}
.Image{
    display: block;
    margin: 0 auto;
    height: 100%;
    width: auto;
    padding: 15px;
    padding-bottom: 0px;
    
}
.Image:hover{
   
    height: 130%;
    width: auto;
    
    
}
.imageCaption{
    height:70px;
    margin: 0 auto;
    background-color: gray;
    border: none;
}

.imageCaption>label{
    display: block;
    margin: auto auto;
    text-align: center;
    font-size: large;
    font-family: cursive;
    color: white;
    padding: 20px;
}

.imageDiv2{
    transform: rotate(-140deg);
    
    margin-top: -180px;
}
.imageDiv3{
    transform: rotate(50deg);
    margin-left: -100px;
}
.imageDiv4{
    transform: rotate(-35deg);
    /* left: 0px; */
    margin-left: 102px;
    margin-top: 65px;
}
.imageDiv5{
    transform:rotate(-125deg);
    margin-left:320px;
    margin-top:-70px;
}
.imageDiv6{
    transform:rotate(-145deg);
    margin-top:-250px;
    margin-left: 260px;
}

.fullBodyImage{
    position: absolute;
    right:0px;
    height:100vh;
    width:400px;
    opacity: 0.2;
}

.imageZoom{
    position: absolute;
    width: calc(99vw - 400px);
    height: 100vh;
    background-color: #ffc10738;
    z-index: 10;
    display: none;
}
.closeZoom{
    position: absolute;
    right:2px;
    top:2px;
}

.handWrittenNotes{
    /* I dont know how to do it yet but I want the note divs to have
    a wiggly border. */
    width: 200px;
    height: 200px;
    background-color: green;
    position: absolute;
    opacity: 0.4;
    transform: rotate(-25deg);
    margin: 60px;
    margin-left: 82vw;
}
.handWrittenNotes:hover{
    z-index: 2;
}