html,body {
    
    margin:0;
    padding: 0;
    height: 100%;
}
body{
    overflow-x: hidden;
}
header, main, footer{
    width: 100vw;
    height: 100vh;
}
header,footer{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;

}

main{
    
    background-image: url("../Img/kidBg.jpg");
    background-size: cover;
   
}
.shade{
    background-color: rgba(0, 174, 255, 0.11);
    /* background-image: url("../Img/kidpic.jpg"); */
    background-size: cover;
    height: 100%;
    display: flex;
    width: 100vw;

}
.left{
    width: 65%;
    height: 100%;  
    display: block;
    flex-direction: column;  
}
.right{
    width: 35%;
    height: 100%;    
}
.fullBodyImage {
    z-index: 2;
    height: 100%;
    width: 100%;
    /*background-image: url(../Img/KidusGecartoonImage.png);*/
    background-image: url(../Img/cartoonImage2.png);
    background-size: cover;
    position: relative; 
    
}
.fullBodyImage>button{
    position: absolute;
    padding: 20px;
    background-color: transparent;
    margin: 10px;
    top: 50%;
    left: 50%;
    color: white;
}

.gallaryAlbum{
    width: 100%;
    height: 90%;
    /* background-color: teal; */
}

.picAndCaption{
    width:15.5vw;
    z-index: 1;
    height: calc(18.8vw + 3.7vw);
    position: absolute;
    top:0;
    left:0;
    display: none;

}
.picAndCaption:hover{
    box-shadow: 1px -3px 19px 1px #03f8ec;
    z-index: 3;

}
.imageHolder{
    width: 15.5vw;
    background-color: #e1e1e1;
    height: 18.2vw;
}
.albumPics{
    width: auto;
    height: 18.2vw;
    display: block;
    margin: 0 auto;
}

.imageCaption{
    width: 100%;
    height: 3.7vw;
    background-color:  rgba(2, 11, 21, 0.9);
    /*background-color: rgba(0, 174, 255, 0.22);*/
    border: none;
    z-index: 2;
}

.imageCaption>label{
    display: block;
    /* margin: auto auto; */
    text-align: center;
    font-size: 1.2vw;
    font-family: Trajan Pro;
    color: #e1e1e1;
    width: 100%;
    height: 100%;
    padding: 1.25vw 0;
}


.pic1{
    
    left: -15.5vw;
    z-index: 1;
}
.pic2{
    top: -55vh;
    left: 11vw;
}
.pic3 {
    transform: rotate(48deg);
    top: -15.806vh;
    left: -21.5vw;
}
.pic4 {
    transform: rotate(236deg);
    top: 100vh;
    left: 25.5vw;
}
.pic5 {
    transform: rotate(180deg);
    top: 8.3vh;
    left: 102.7vw;
}
.pic6 {
    transform: rotate(306deg);
    top: 103.2vh;
    left: 24.15vw;
}

.quote{
    width: 100%;
    height: 10%;
    text-align: center;
}

blockquote{
    font-family: Pristina;
    font-size: 3.4vw;
    margin: 0 auto;
    color: #e1e1e1;
}

.Image{
    display: block;
    margin: 0 auto;
    height: 100%;
    width: auto;
   
    
}


.imageZoom{
    position: absolute;
    width: calc(99vw - 400px);
    height: 98vh;
    background-color: #0c1921e3; 
    z-index: 11;
    display: none;
    top: 0;
}
.closeZoom, .closeMoreInfo{
    position: absolute;
    right:2px;
    top:2px;
    color: white;
}

#pictureDiscription{
    color: white;
    font-size: 20px;
    text-align: center;
}
#moreInfo{
    position: relative;
    width: 100%;
    right: 0;
    height: 98vh;
    background-color: #0c1921e3;
    z-index: 11;
    display: none;
    top: 0;
}

#moreInfo>img{
    height: 200px;
}
#moreInfo>img:hover{
    height: 400px;
   
}

form{
    position: absolute;
    top: calc(50% - 7 * 30px);
   
}

label{
    color: #82bb28;
    font-family: cursive;
    text-align: -webkit-right;
    width: 100%;
}
input[type="text"]{
    background: transparent;
    border: none;
    color: white;
    font-family: cursive;
}

td{
    min-width: 80px;
    text-align: right;
}
.values{
    text-align: left;
}
textarea{
    width: 200px;
    height: 80px;
    background: transparent;
    overflow: auto;
    color: white;
    border: none;
    border-top: 1px solid;
}